*{
cursor:pointer;
}
nav{
align-items:center;
height:120px;
background-color:white;
display:flex
}

body{
margin:0;
}

.left_side,.right_side{
width:43%;
display:flex;
font-size:16px;
font-family:sans-serif;
}

.right_side li,.left_side li{
font-weight:bold;
margin-left:100px;
vertical-align:middle;
display:flex;
}

#name_res{
margin-top:10px;
font-family:Algerian;
font-size:28px;
text-align:center;
width:10%;
display:flex;
}

#main_img{
background-repeat:no-repeat;
background-position:center;
background-size:cover;
width:50%;
height:600px;
background-image:url("page_accueil.webp");
}

li:hover{
color:rgb(255,102,102);
}

