/*home_page*/

#home_page{
margin:0px;
font-family:Poppins,sans-serif;
}
a{
text-decoration:none;
color:inherit;
}

#navbar{
display:flex;
align-items:center;
height:115px;
background-color:#2C1A0E;
border-bottom:3px solid #C4622D;
width:100%;
}

#nav-right{
width:40%;
display:flex;
align-items:center;
list-style:none;
}
#nav-left{
width:40%;
display:flex;
align-items:center;
list-style:none;
}

.nav-item{
font-size:14px;
font-weight:bold;
color:#E8D5B0;
cursor:pointer;
padding:8px 17px;
border-radius:12px;
}

#indentation-left{
margin-left:250px;
}

#indentation-right{
margin-left:100px;
}

.nav-item-special{
color:#E8D5B0;
padding:8px 17px;
border-radius:12px;
}

.nav-item:hover,#restaurant-name:hover{
background-color:#C4622D;
color:white;
}

#restaurant-name{
display:flex;
align-items:center;
justify-content:center;
width:20%;
font-family:Algerian,serif;
font-size:20px;
font-weight:bold;
color:#E8D5B0;
background-color:#C4622D;
padding:14px 18px;
border-radius:20px;
cursor:pointer;
}

#search-form{
display:flex;
align-items:center;
border:2px solid #C4622D;
border-radius:20px;
background-color:#F5ECD7;
padding:4px 10px;
}

[type="search"]{
border:none;
background-color:transparent;
outline:none;
font-family:Poppins,sans-serif;
font-size:14px;
width:130px;
color:#2C1A0E;
}

#search-button{
background-color:transparent;
border:none;
cursor:pointer;
display:flex;
align-items:center;
justify-content:center;
}

[src^="magnifying"]{
width:14px;
height:14px;
}

#content-container{
align-items:stretch;
overflow:hidden; 
height:850px;
display:flex;
justify-content:center;
}

#hero-image{
width:55%;
background-image:url("page_accueil.webp");
background-size:cover;
background-position:center;
}

#presentation{
width:45%;
padding:70px 50px;
background-color:#2C1A0E;
}

#presentation-title{
margin-top:60px;
font-family:poppins, serif;
font-size:36px;
color:#E8D5B0;
text-decoration:underline;
text-decoration-color:#E8D5B0;
font-style:italic;
}

#presentation-text{
margin-top:50px;
font-family:Constantia,serif;
font-size:22px;
line-height:30px;
color:#E8D5B0;
text-align:left;
width:700px;
}

.nav-item a{
display:block;
width:100%;
height:100%;
}

#restaurant-name{
text-align:center;
display:block;
width:100%;
height:100%;
}


/*connexion.html*/


#body_connexion{
background-image:url("connexion.webp");
background-position:center;
background-size:cover;
min-height:100vh;
font-family:Poppins,sans-serif;
display:flex;
align-items:center;
justify-content:center;
}

#container{
border:3px solid black;
background-color:#2C1A0E;
border-radius:20px;
padding:15px 30px 40px 30px;
width:480px;
display:flex;
align-items:center;
flex-direction:column;
}

#container h2{
font-size:28px;
color:#E8D5B0;
text-align:center;
text-decoration:underline;
text-decoration-color:#C4622D;
padding:20px 0px;
}

#tab_connexion td{
padding:12px 6px;
}


#tab_connexion label{
font-size:14px;
font-weight:bold;
color:#E8D5B0;
letter-spacing:0.25px;
}

[type="text"],[type="password"]{
width:200px;
padding:12px 10px;
border:2px solid #C4622D;
border-radius:12px;
font-family:Poppins,sans-serif;
font-size:14px;
background-color:#E7F4FD;
outline:none;
color:#2C1A0E;
}

#tab_connexion input[type="checkbox"]{
width:18px;
height:18px;
cursor:pointer;
accent-color:#C4622D;;
}

#forgot_password{
display:block;
text-align:center;
padding:14px;
margin-top:10px;
background-color:#C4622D;
color:#E8D5B0;
font-family:Poppins,sans-serif;
font-size:12px;
font-weight:bold;
border-radius:12px;
cursor:pointer;
width:90%;
}

#inscription{
display:block;
text-align:center;
margin-left:35px;
padding:14px;
margin-top:10px;
background-color:#C4622D;
color:#E8D5B0;
font-family:Poppins,sans-serif;
font-size:12px;
font-weight:bold;
border-radius:12px;
cursor:pointer;
width:80%;
}

#connexion_button{
display:block;
text-align:center;
padding:14px;
margin-top:10px;
background-color:#C4622D;
color:#E8D5B0;
font-family:Poppins,sans-serif;
font-size:12px;
font-weight:bold;
border-radius:12px;
cursor:pointer;
width:97%;
}

#forgot_password:hover,#inscription:hover,#connexion_button:hover{
background-color:#E8D5B0;
color:#2C1A0E;
}

#section_form{
display:flex;
align-items:center;
justify-content:center;
width:100%;
padding:150px;
}

/*Inscription.html*/

#body_inscription{
font-family:Poppins,sans-serif;
background-image:url("inscription.jpeg");
background-position:center;
background-size:cover;
background-position:center;
margin:0px;
}

#section_inscription{
display:flex;
align-items:center;
justify-content:center;
margin-top:45px;
width:100%;
}

#container_form{
border:3px solid black;
background-color:#2C1A0E;
border-radius:20px;
padding:50px 60px;
width:520px;
display:flex;
flex-direction:column;
align-items:center;
}

#container_form h2{
font-size:28px;
font-weight:bold;
color:#E8D5B0;
text-align:center;
text-decoration:underline;
text-decoration-color:#C4622D;
}

#tab_inscription{
width:100%;
border-spacing:0px 12px;
}

#tab_inscription td{
padding:4px 8px;
}

#tab_inscription label{
font-size:14px;
font-weight:bold;
color:#E8D5B0;
letter-spacing:0.5px;
}

#tab_inscription input[type="text"],
#tab_inscription input[type="password"],
#tab_inscription input[type="date"]{
width:260px;
padding:12px 16px;
border:2px solid #C4622D;
border-radius:12px;
font-family:Poppins,sans-serif;
font-size:14px;
color:#2C1A0E;
background-color:#F5ECD7;
outline:none;
}


#tab_inscription textarea{
width:260px;
height:90px;
padding:12px 16px;
border:2px solid #C4622D;
border-radius:12px;
font-family:Poppins,sans-serif;
font-size:14px;
color:#2C1A0E;
background-color:#F5ECD7;
outline:none;
resize:none;
}

#tab_inscription button[type="submit"]{
width:100%;
padding:14px;
margin-top:12px;
background-color:#C4622D;
color:#E8D5B0;
font-family:Poppins,sans-serif;
font-size:16px;
font-weight:bold;
border:none;
border-radius:16px;
cursor:pointer;
letter-spacing:0.25px;
}

#tab_inscription button[type="submit"]:hover{
background-color:#E8D5B0;
color:#2C1A0E;
}

/* profil.html */

#body_profil{
font-family:Poppins,sans-serif;
background-color:#F5ECD7;
margin:0;
}

#header-profil{
display:flex;
align-items:center;
justify-content:center;
background-color:#2C1A0E;
border-bottom:3px solid #C4622D;
padding:20px 80px;
height:110px;
}

#header-profil-left{
display:flex;
align-items:center;
width:40%;
}

#avatar-img{
width:70px;
height:70px;
border-radius:50%;
border:3px solid #F5ECD7;
background-color:#C4622D;
margin-right:20px;
}

#profil-nom{
font-family:Algerian, serif;
font-size:20px;
color:#F5ECD7;
}

#profil-membre{
font-size:12px;
color:#C4622D;
font-variant:small-caps;
}

#header-profil-center{
width:70%;
display:flex;
align-items:center;
justify-content:center;
}

#retour-accueil{
font-size:12px;
font-weight:bold;
color:#F5ECD7;
padding:10px 16px;
border-radius:12px;
border:2px solid #f5e3ba;
cursor:pointer;
}

#retour-accueil:hover{
background-color:#C4622D;
color:white;
}

#header-profil-right{
width:30%;
display:flex;
justify-content:flex-end;
align-items:center;
}

#header-points{
border:2px solid #F5ECD7;
display:flex;
flex-direction:column;
align-items:center;
background-color:#C4622D;
border-radius:16px;
padding:10px 24px;
}

#header-points-valeur{
font-size:28px;
font-weight:bold;
color:white;
}

#header-points-fidèle{
font-size:12px;
font-style:italic;
color:white;
}

#profil-container{
display:flex;
padding:50px 60px;
height:700px;
}

.profil-titre{
font-family:Algerian,serif;
font-size:22px;
color:#C4622D;
text-decoration:underline;
text-decoration-color:#F5ECD7;
margin-bottom:30px;
}

#profil-infos{
border:5px solid black;
width:40%;
background-color:#2C1A0E;
border-radius:20px;
padding:40px;
margin-right:30px;
}

#tab-profil{
width:100%;
border-spacing:0px 14px;
}

#tab-profil td{
padding:18px 10px;
color:#E8D5B0;
font-size:14px;
}

#tab-profil label{
font-weight:bold;
color:#C4622D;
font-size:13px;
}

.profil-valeur{
font-family:Constantia,serif;
font-size:13px;
}

.crayon{
cursor:pointer;
font-size:13px;
}

#profil-aside{
width:60%;
display:flex;
flex-direction:column;
}

#fidèle-bloc{
border:5px solid black;
background-color:#2C1A0E;
border-radius:20px;
padding:40px 40px;
margin-bottom:40px;
}

#fidèle-points{
text-align:center;
margin-bottom:20px;
}

#points-valeur{
font-size:48px;
font-weight:bold;
color:#C4622D;
}

#points-fidèle{
font-family:constantia,serif;
font-style:italic;
font-size:18px;
color:#E8D5B0;
margin-left:2px;
}

#fidèle-barre-fond{
border:1px solid white;
background-color:#E8D5B0;
border-radius:20px;
height:14px;
width:100%;
}

#fidèle-barre-remplie{ /*La barre est fixe*/
background-color:#C4622D;
border-radius:20px;
height:14px;
width:68%;
}

#fidèle-info{
color:#E8D5B0;
font-size:13px;
text-align:center;
margin-top:12px;
font-family:Constantia, serif;
font-style:italic;
}

#historique-bloc{
border:5px solid black;
background-color: #2C1A0E;
border-radius: 20px;
padding:20px 40px;
}

#tab-historique{
width:100%;
border-collapse:collapse;
}

.tab-header th{
font-size:13px;
font-weight:bold;
padding:10px 12px;
}

#tab-historique th,#tab-historique td{
text-align:center;
color:#E8D5B0;
font-size:13px;
padding:10px 12px;
border-bottom:1px solid #3D2A1A;
font-family:Constantia,serif;
}

.statut-livre{
text-transform:uppercase;
font-weight:bold;
}

/*notation.html*/

#body_notation{
font-family:Poppins,sans-serif;
background-color:#F5ECD7;
margin:0;
}

#header-notation{
display:flex;
align-items:center;
justify-content:center;
background-color:#2C1A0E;
border-bottom:3px solid #C4622D;
height:110px;
}

#restaurant-name-notation{
font-family:Algerian,serif;
font-size:24px;
font-weight:bold;
color:#E8D5B0;
background-color:#C4622D;
padding:14px 24px;
border-radius:20px;
}

#section_notation{
display:flex;
align-items:center;
justify-content:center;
margin-top:100px;
}

#container_notation{
background-color:#2C1A0E;
border-radius:20px;
padding:50px 60px;
width:600px;
display:flex;
flex-direction:column;
align-items:center;
}

#container_notation h2{
font-family:Algerian,serif;
font-size:28px;
color:#C4622D;
text-decoration:underline;
text-decoration-color:#E8D5B0;
margin-bottom:10px;
}

#notation-commande{
font-family:Constantia,serif;
font-style:italic;
color:#E8D5B0;
font-size:14px;
margin-bottom:30px;
text-align:center;
}

#tab_notation{
width:100%;
border-spacing:14px 24px;
}

#tab_notation td{
padding:4px 10px;
}

#tab_notation label{
font-size:14px;
font-weight:bold;
color:#C4622D;
}

#tab_notation select{
width:250px;
padding:10px 14px;
border:2px solid #C4622D;
border-radius:12px;
font-family:Poppins,sans-serif;
font-size:14px;
background-color:#F5ECD7;
color:#2C1A0E;
cursor:pointer;
}

#tab_notation textarea{
width:275px;
height:100px;
padding:10px 14px;
border:2px solid #C4622D;
border-radius:12px;
font-family:Constantia,serif;
font-size:14px;
background-color:#F5ECD7;
color:#2C1A0E;
outline:none;
resize:none;
}

#button_notation{
width:100%;
padding:14px;
margin-top:10px;
background-color:#C4622D;
color:white;
font-family:Poppins,sans-serif;
font-size:15px;
font-weight:bold;
border:none;
border-radius:12px;
cursor:pointer;
}

#button_notation:hover{
background-color:#f89436;
color:white;
}

/* presentation_page*/


#body_produits{
font-family:Poppins, sans-serif;
background-color:#F5ECD7;
margin:0;
}

#barre_carte{
width:100%;
height:200px;
display:flex;
align-items:center;
justify-content:center;
border-bottom:3px solid #C4622D;
}

#barre_carte_texte{
text-align:center;
}

#produits-titre{
font-family:Algerian,serif;
font-size:48px;
color:#C4622D;
text-decoration:underline;
text-decoration-color:#C4622D;
}

#produits-sous-titre{
font-family:Constantia,serif;
font-style:italic;
font-size:18px;
color:#C4622D;
margin-top:10px;
}

#produits-container{
display:flex;
padding:40px 60px;
}

#colone_gauche{
width:220px;
margin-right:40px;
display:flex;
flex-direction:column;
}

.filtre-bloc{
background-color:#2C1A0E;
border-radius:16px;
padding:20px;
margin-bottom:20px;
}

.filtre-titre{
font-family:Algerian,serif;
font-size:16px;
color:#C4622D;
margin-bottom:14px;
text-decoration:underline;
text-decoration-color:#E8D5B0;
}

.filtre-liste{
list-style:none;
padding:0;
margin:0;
}

.filtre-item{
font-size:13px;
color:#E8D5B0;
font-family:Poppins,sans-serif;
padding:8px 10px;
border-radius:10px;
cursor:pointer;
margin-bottom:4px;
}

.filtre-item:hover{
background-color:#C4622D;
color:white;
}

.filtre-item-actif{
font-size:13px;
font-family:Poppins,sans-serif;
padding:8px 10px;
border-radius:10px;
cursor:pointer;
margin-bottom:4px;
background-color:#C4622D; /* couleur fixe : changer sûrement sur les autres phases*/
color:white;
font-weight:bold;
}

#produits-grille{
display:flex;
flex-direction:column;
}

.produits-section{
margin-bottom:50px;
}

.section-titre{
font-family:Algerian,serif;
font-size:24px;
color:#2C1A0E;
text-decoration:underline;
text-decoration-color:#C4622D;
margin-bottom:20px;
padding-bottom:8px;
border-bottom:2px solid #C4622D;
}

.cards-container{
display:flex;
}

.card-plat{
border:4px solid black;
width:240px;
background-color:#2C1A0E;
border-radius:16px;
margin-right:20px;
margin-bottom:15px;
overflow:hidden;
}

.card-img{
font-size:13px;
font-variant:small-caps;
display:flex;
justify-content:center;
align-items:center;
color:#E8D5B0;
width:100%;
height:180px;
background-color:#C4622D;
background-size:cover;
background-position:center;
}

.card-body{
padding:16px;
display:flex;
flex-direction:column;
}

.card-nom{
font-family:Algerian,serif;
font-size:16px;
color:#E8D5B0;
margin-bottom:4px;
}

.card-origine{
font-size:11px;
color:#C4622D;
font-style:italic;
margin-bottom:8px;
}

.card-desc{
font-family:Constantia,serif;
font-size:13px;
color:#E8D5B0;
line-height:20px;
margin-bottom:14px;
}

.card-footer{
display:flex;
align-items:center;
justify-content:center;
}

.card-prix{
font-size:16px;
font-weight:bold;
color:#C4622D;
margin-right:16px;
}

.card-bouton{
background-color:#C4622D;
color:white;
border-radius:10px;
padding:8px 14px;
font-family:Poppins,sans-serif;
font-size:12px;
font-weight:bold;
cursor:pointer;
}

.card-bouton:hover{
background-color:#d38b47;
color:white;
}

/*border:1px solid white;*/

